target/
.idea/
/core/dependency-reduced-pom.xml
/AdvancedGift.iml
/core/advancedgift-core.iml
/advancedgift-parent.iml
/API/API.iml
/core/core.iml
/spigot_1_8_R1/spigot_1_8_R1.iml
/spigot_1_8_R2/spigot_1_8_R2.iml
/spigot_1_8_R3/spigot_1_8_R3.iml
/spigot_1_9_R1/spigot_1_9_R1.iml
/spigot_1_9_R2/spigot_1_9_R2.iml
/spigot_1_10_R1/spigot_1_10_R1.iml
/spigot_1_11_R1/spigot_1_11_R1.iml
/spigot_1_12_R1/spigot_1_12_R1.iml
/spigot_1_13_R1/spigot_1_13_R1.iml
/spigot_1_13_R2/spigot_1_13_R2.iml
/spigot_1_14_R1/spigot_1_14_R1.iml
/spigot_1_15_R1/spigot_1_15_R1.iml
/spigot_1_16_R1/spigot_1_16_R1.iml
/core/src/main/resources/ArtMap-3.5.4.jar
